<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a href="http://localhost:8080/user-playlists">http://localhost:8080/user-playlists</a><br>
<a href="http://localhost:8080/user-liked/0">http://localhost:8080/user-liked/{offset}</a><br>
<a href="http://localhost:8080/create-playlist">http://localhost:8080/create-playlist</a><br>
<input type="text" name="add-music" title="add-music" id="1"/>
<button onclick="addMusic()">http://localhost:8080/add-music-in-playlist</button><br>
<input type="text" name="getMusicOfPlaylist" title="get-music-of-playlist" id="2"/>
<button onclick="getMusicsOfPlaylist()">http://localhost:8080/musics-of-playlist</button><br>
<input type="text" name="delete-playlist" title="delete-playlist" id="3"/>
<button onclick="deletePlaylist()">http://localhost:8080/delete-playlist</button><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<button onclick="logout()">Logout</button><br>


<script>
    addMusic = () => {
        window.location.href = 'http://localhost:8080/add-music-in-playlist/' + document.getElementById('1').value;
    }
    getMusicsOfPlaylist = () => {
        window.location.href = 'http://localhost:8080/musics-of-playlist/' + document.getElementById('2').value
    }
    deletePlaylist = () => {
        window.location.href = 'http://localhost:8080/delete-playlist/' + document.getElementById('3').value
    }
    logout = () => {
        window.location.href = 'http://localhost:8080/logout'
    }
</script>


Welcome to the app YOU ARE IN
</body>
</html>